@import "helpers";
@import "buttons";
@import "typography";
@import "variables";
*{
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all .5s ease-in;
}
ul {
  li {
    list-style: none;
    a{
      text-decoration: none;
    }
  }
}
a{
  text-decoration: none;
  color: #808080;
  font-size: 1rem;
  &:hover {
    color: #85e2ff;
  }
}
body {
  position: relative;
  height: 100vh;
}
.header-wrapper {
  background-color: #eee;
  border-bottom: 2px solid #808080;
}

.calendar-header {
  justify-content: space-between;
  min-height: 4rem;
  padding: 1rem 0;
}

.btn-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  a {

    img {
      width: 20px;
      height: 20px;
    }
  }
}

.calendar-body {
  .month-switcher {
    display: flex;
    flex-direction: row;
    align-items: center;
    svg {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 15px;
      height: 15px;
      border: 1px solid #c9c9c9;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      margin: .5rem;
    }
    .month-name {
      font-size: 1rem;
      text-transform: capitalize;
      color: #808080;
      .year-value{
        padding: 0 5px;
      }
    }
  }
  .calendar-title {
    margin: 2rem 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
.month-week {
  display: flex;
  
  .month-day {
    width: 14.2%;
    max-height: 200px;
    height: 100px;
    border: 1px solid #808080;
    padding: .3rem;
    color: #808080;
    .day-name {
      font-size: 10px;

    }
    .day-number {
      font-size: 10px;
    }
  }
}


// Table style

.calendar {
  width: 100%;
}
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  font-weight: bold;
  td,
  th {
    border: 1px solid #e7e7f7;
    text-align: center;
    cursor: pointer;width: 14.2%;
    height: 130px;
    &:hover {
      background-color: rgba(71, 182, 230, .5);
      color: #fff;
    }
  }
  th {
    color: #fff;
    font-size: 1.5rem;
    height: 50px;
    font-weight: bold;
    background-color: rgba(224, 38, 38, 0.5);
  }
}
.bg-info {
  background-color: rgba(22, 180, 241, 0.3);
  color: #fff;
}
.currentDate {
  width: 10rem;
  text-align: center;
}

.task-popup {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  //transform: translate(-50%, -50%);
  display: none;
  background-color: rgba(0,0,0,.5);
  .task-description {
    font-size: 1rem;
    color: #eee;
  }
  .popup-row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
  }
}
.popup-hidden {
  visibility: visible;
  display: block;
}

.task-input {
  padding: 10px 20px;
  min-width: 150px;
  width: 250px;
  height: 40px;
  border: 1px solid #808080;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: .5rem;
}
.highlight {
  background-color: red;
}
td {
  position: relative;
  .counter {
    position: absolute;
    top: 0;
    left: 5%;
    width: 15px;
    height: 15px;
    background-color: #E34713;
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
}





